<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bolsa de trabajo</title>
</head>
<body>
  
  <nav class="navbar navbar-expand-lg navbar-light bg-light nav1">
    &nbsp;
    <a class="navbar-brand" href="#">
      <img src="../assets/logo.png" width="30" height="30" alt="" style="padding-left: 1%;">
    </a>
    <a class="navbar-brand letraw" href="#">FindAJob</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto letraw">
        <li class="nav-item">
          <a routerLink="/inicio-component" routerLinkActive="active" class="nav-link letraw" href="#">Home <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a routerLink="/solicitantes-component" routerLinkActive="active" class="nav-link letraw" href="#">Solicitantes</a>
        </li>
        <li class="nav-item">
          <a routerLink="/vacantes-component" routerLinkActive="active" class="nav-link letraw" href="#">Vacantes</a>
        </li>
        <li class="nav-item">
          <a routerLink="/about-component" routerLinkActive="active" class="nav-link letraw" href="#">About</a>
        </li>
      </ul>
    </div>
  </nav>
  <br>
  <router-outlet></router-outlet>
  <br>
  <footer id="bl" style="padding: 0; height: auto !important;">
    <div class="sans" style="background-color: darkblue; border-top-left-radius: 5px; border-top-right-radius: 5px; display: flex; height: auto !important;">
    <div style=" padding: 1%; flex: auto; height: auto;" class="izq letraw">
        <img src="../assets/logo.png" alt="" style="height: 40px; width: auto;" class="img-fluid">
        <nav style="text-align: center" class="rob">FindAJob Mexico ©️ 2021</nav>
    </div>
    </div>
    </footer>
</body>
</html>


